<div fxLayoutAlign="row" class="social-buttons">
  <div class="social-button">
    <button id="googleBtn" class="googleBtn" mat-mini-fab color="primary" (click)="signInWithGoogle()">
      <mat-icon><img src="../../../assets/icons/search.svg"></mat-icon>
    </button>
  </div>
  <div class="social-button">
    <button mat-mini-fab color="primary" (click)="signInWithFacebook()">
      <mat-icon><img src="../../../assets/icons/facebook.svg"></mat-icon>
    </button>
  </div>
  <div class="social-button">
    <button mat-mini-fab color="primary" (click)="signInWithLinkedIn()">
      <mat-icon><img src="../../../assets/icons/linkedin.svg"></mat-icon>
    </button>
  </div>
</div>
