<div class="slider">
  <div class="slide current">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="slide">
    <div class="content">
      <div class="main-body">
        <div class="article-box custom-elevation-z2">
          <div class="article-picture"></div>
          <div class="article-text">
            <p class="article-date">June 23rd</p>
            <p class="article-title">The power of a nib</p>
            <p class="article-body">
              Putting yourself out there is amazing <br />
              but you won’t put all of you, how about writing...
            </p>
            <p class="article-author">Jane drake</p>
            <button mat-flat-button class="read-more" type="submit">
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="main-container">
    <div class="nav-bar">
      <div class="logo-area">
        <h1 class="logo">Ekalaamu</h1>
      </div>

      <div class="site-nav">
        <ul class="links">
          <li><a href="articles.html">Articles</a></li>
          <li>
            <a href="mywork.html">Your work</a>
          </li>
          <li>
            <a href="add.html">Write</a>
          </li>
        </ul>
      </div>

      <div class="credential-area">
        <p class="login-button">Log in</p>
        <button mat-flat-button type="submit">
          Start Here
        </button>
      </div>
    </div>

    <div class="about">
      <div class="about-text">
        <p class="about-maintext">
          Write your heart out and show the world what you feel. Ekalaamu...
        </p>
        <button mat-flat-button type="submit">
          Start Here
        </button>
      </div>
      <p class="about-smalltext">
        An online notebook for your online presence
      </p>
    </div>
  </div>
</section>
