section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.main-container {
  margin: 0 auto;
  width: 87%;
  display: flex;
  flex-flow: column;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin-top: 27px;
}
.logo-area,
.site-nav,
.credential-area {
  height: 45px;
}
.credential-area,
.footer-text,
.about-text {
  display: flex;
  justify-content: space-between;
}
.credential-area {
  width: 217px;
  align-items: center;
}
.logo {
  font-family: Noteworthy;
  font-weight: bolder;
  font-size: 27px;
  color: #000;
  margin: 0 !important;
}

.mat-flat-button {
  border: none;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  width: 140px;
  height: 45px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.login-button {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #000;
}
.slide .content .main-body {
  display: flex;
  align-items: center;
  margin: 127px 0;
  flex-flow: column;
  justify-content: space-evenly;
}
.other-body {
  display: flex;
  align-items: center;
}
.article-box {
  background: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 670px;
  height: 400px;
}
.custom-elevation-z2 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08) !important;
}
.article-picture {
  width: 375px;
  height: 345px;
  background-image: url("/assets/images/ekalamu2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.article-text {
  width: 250px;
  height: 230px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.article-date {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #000000;
}
.article-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.article-body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #777777;
}
.article-author {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
.read-more {
  background: transparent !important;
  border: 1.4px solid #000 !important;
  color: #000 !important;
  transition: 0.5s;
}
.read-more:hover {
  background-color: #000 !important;
  color: #fff !important;
  transition: 0.5s;
}
.read-more,
.article-author,
.article-body,
.article-date,
.article-title {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 570px;
  flex-flow: column;
  margin: 40px 0 0;
}
.footer-text {
  display: flex;
  justify-content: space-between;
}
.footer-maintext {
  width: 400px;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin: 0;
}
.footer-smalltext {
  width: 300px;
  margin: 17px 0 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #000000;
}

.site-nav .links {
  margin: 0 !important;
  height: 45px;
}
.site-nav .links li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-top: 10px !important;
}
.site-nav .links li a {
  text-decoration: none;
  color: #000;
  padding: 15px 25px;
  transition-duration: 0.5s;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}



.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;
  opacity: 0;
  margin: 50px auto;
  height: 670px;
}
.slide.current .content {
  opacity: 1;
  transform: translateX(620px);
  transition: all 0.7s ease-in-out 0.3s;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .slide.current .content {
    transform: translateX(385px);
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
}



/* Backgorund Images */

/* .slide:first-child {
  background: url("https://source.unsplash.com/RyRpq9SUwAU/1600x900") no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url("https://source.unsplash.com/BeOW_PJjA0w/1600x900") no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url("https://source.unsplash.com/TMOeGZw9NY4/1600x900") no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url("https://source.unsplash.com/yXpA_eCbtzI/1600x900") no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url("https://source.unsplash.com/ULmaQh9Gvbg/1600x900") no-repeat
    center top/cover;
}
.slide:nth-child(6) {
  background: url("https://source.unsplash.com/ggZuL3BTSJU/1600x900") no-repeat
    center center/cover;
} */

.slide:first-child {
    background: url('src/assets/images/ekalamu.jpg') no-repeat center top/cover;
  }
  .slide:nth-child(2) {
    background: url('src/assets/images/adult.jpg') no-repeat center top/cover;
  }
  .slide:nth-child(3) {
    background: url('src/assets/images/fashion.jpg') no-repeat center top/cover;
  }
  .slide:nth-child(4) {
    background: url('src/assets/images/elegant.jpg') no-repeat center top/cover;
  }
  .slide:nth-child(5) {
    background: url('src/assets/images/footwear.jpg') no-repeat center top/cover;
  }
  .slide:nth-child(6) { 
    background: url('src/assets/images/blur.jpg') no-repeat center center/cover;
  }

.about {
  display: flex;
  justify-content: space-between;
  width: 570px;
  flex-flow: column;
  margin: 620px auto;
}
.about-text {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.about-maintext {
  width: 400px;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin: 0;
}
.about-smalltext {
  width: 300px;
  margin: 17px 0 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #000000;
}
