<div class="container">
<div fxLayout="row" fxLayoutAlign="space-between">
  <img src="/assets/icons/ekalaamu.svg" alt="ekalaamu" />
  <mat-icon id="close-icon"  routerLink="/">close</mat-icon>
</div>
<div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
  >
  <div class="title">Ekalaamu</div>
  <div class="action">Already have an account? <a href="/auth/login">Log In</a></div>
    <mat-form-field>
      <input class="form-control" matInput placeholder="First Name"  formControlName="firstname" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="form.firstname.errors?.required"><strong>* Required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input class="form-control" matInput placeholder="Last Name" formControlName="lastname" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="form.lastname.errors?.required"><strong>* Required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input class="form-control" matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="form.email.errors?.email && !form.email.errors?.required"> Please enter a valid email address </mat-error>
      <mat-error *ngIf="form.email.errors?.required"><strong>* Required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input class="form-control" matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="form.password.errors?.required"><strong>* Required</strong> </mat-error>
    </mat-form-field>

    <button [disabled]="signupForm.invalid" class="form-control submit-btn" mat-button>Create Account</button>
  </form>
  <div id="social-head">Or signup with</div>
  <app-social-auth></app-social-auth>
</div>
</div>
