<div class="social-container">
  <button
    id="googleBtn"
    class="googleBtn"
    mat-fab
    color="primary"
    (click)="socialSignIn('google')"
  >
    <mat-icon><img src="../../../../assets/icons/search.svg"/></mat-icon>
  </button>
  <button
    id="facebookBtn"
    mat-fab
    color="primary"
    (click)="socialSignIn('facebook')"
  >
    <mat-icon><img src="../../../../assets/icons/facebook.svg"/></mat-icon>
  </button>
  <button
    id="linkedInBtn"
    mat-fab
    color="primary"
    (click)="socialSignIn('linkedIn')"
  >
    <mat-icon><img src="../../../../assets/icons/linkedin.svg"/></mat-icon>
  </button>
</div>
